<html>
    <head>
        <title>
            QUIZ WIZARD
        </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/icon.png">
        <script>
        </script>
    </head>
    <body>
           <div class="hi"> <h1>welcome to quiz on programming</h1></div><br><br>
        <div class="mn">
            <center><img src="/img/quiz.jpg"></center><br><br>
            <center>
            <div class="frm">
                <form id="form" action="welcome">
                    <h3>participants details</h3>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" autocomplete="off" required><br><br>
                    <label for="roll">Reg:no</label>
                    <input type="text" id="roll" name="roll" autocomplete="off" required><br><br>
                    <button id="rd">Ready...</button>
                </form>
            </div>
            </center>
        </div>
    </body>
</html>