<html>
    <head>
        <title>Blocked</title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <style>
        footer{
            padding-top: 650px;
            text-align: right;
            color:cadetblue;
        }
    </style>
    <body>
        <center><h1>Your blocked as your attempting more than once</h1></center>
    </body>
    <footer>{{>footer}}</footer>
</html>