<html>
    <head>
        <title>Blocked</title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <center><h1>Your blocked as your attempting more than once</h1></center>
    </body>
</html>